body{
	background: #199619 !important; 
}

.avatar {   
    background-color: white  !important;
    border: 1px solid #d9d9d9  !important;
    border-radius: 25px  !important;
    -moz-border-radius: 20px  !important;
    -webkit-border-radius: 20px  !important;
    height: 40px  !important;
    width: 40px  !important;
    overflow: hidden  !important;
    text-align: center  !important;
    
}; 
